<header id="navbar-spy" class="header header-1">
    <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="">
                <div class="nav-logo">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a href="{{ url_for('.about') }}" class="menu-item">Who we are</a>
                    </li>
                    <li>
                        <a href="{{ url_for('.faq') }}" class="link-hover">How it works</a>
                    </li>
                    <li class="has-dropdown">
                        <a href="{{ url_for('.registries') }}" data-toggle="dropdown" class="dropdown-toggle menu-item">Registry</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Wedding</a>
                            </li>
                            <li>
                                <a href="#">bridal</a>
                            </li>
                            <li>
                                <a href="#">birthday</a>
                            </li>
                            <li>
                                <a href="#">babyshower</a>
                            </li>
                            <li>
                                <a href="{{ url_for('.registries') }}">all</a>
                            </li>
                        </ul>
                    </li><!-- li end -->
                    <li>
                        <a href="{{ url_for('.blog') }}" class="link-hover">Blog</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('.dashboard') }}" class="menu-item">Dashboard</a> </li>
                    {%  endif %}
                </ul>

                <div class="module-container">
                    <!-- Module Search -->
                    <div class="module module-search pull-left">
                        <div class="module-icon search-icon">
                            <i class="lnr lnr-magnifier"></i>
                            <span class="title">find a registry</span>
                        </div>
                        <div class="module-content module--search-box">
                            <form class="form-search" action="{{ url_for('.search') }}" method="get">
                                <input type="text" name="q" class="form-control" placeholder="Search anything">
                                <button type="submit"><span class="fa fa-arrow-right"></span></button>
                            </form><!-- .form-search end -->
                        </div>
                    </div><!-- .module-search end -->

                    <div class="vertical-divider pull-left mr-30"></div>
                    <div class="module pull-left">
                        <div class="module-icon">
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('.create_registry') }}" class="btn btn--primary btn--rounded">Create registry</a>
                            {% else %}
                                <a href="{{ url_for('.register') }}" class="btn btn--primary btn--rounded">Create registry</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="module pull-left">
                        <ul class="navbar-nav mr-auto">
                            {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('.logout')  }}">Logout</a></li>
                            {%  else %}
                                <li><a href="{{ url_for('.login')  }}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- Module Cart -->

                    <div class="module module-cart pull-left">
                        <div class="module-icon cart-icon">
                            <i class="icon-bag"></i>
                            <span class="title">shop cart</span>
                            <label class="module-label">{{ session['all_total_quantity'] }}</label>
                        </div>
                        <!--
                        <div class="module-content module-box cart-box">
                            <div class="cart-overview">
                                <ul class="list-unstyled">
                                    <li>
                                        <img class="img-fluid" src="assets/images/products/thumb/1.jpg" alt="product" />
                                        <div class="product-meta">
                                            <h5 class="product-title">Hebes Great Chair</h5>
                                            <p class="product-qunt">Quantity:  01</p>
                                            <p class="product-price">$24.00</p>
                                        </div>
                                        <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                                    </li>
                                    <li>
                                        <img class="img-fluid" src="assets/images/products/thumb/2.jpg" alt="product" />
                                        <div class="product-meta">
                                            <h5 class="product-title">Hebes Great Chair</h5>
                                            <p class="product-qunt">Quantity:  01</p>
                                            <p class="product-price">$24.00</p>
                                        </div>
                                        <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-total">
                                <div class="total-desc">
                                    Sub total
                                </div>
                                <div class="total-price">
                                    $48.00
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="cart--control">
                                <a class="btn btn--white btn--bordered btn--rounded" href="#">view cart </a>
                                <a class="btn btn--primary btn--rounded" href="#">Checkout</a>
                            </div>
                        </div>
                        -->
                    </div><!-- .module-cart end -->
                </div>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>