<header id="navbar-spy" class="header header-1 header-8 header-light">
    <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light logo-centered">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('.index') }}">
                <img class="logo logo-light" src="{{url_for('static',filename='frontend/assets/images/logo/logo.png')}}" alt="logo">
                <img class="logo logo-dark" src="{{url_for('static',filename='frontend/assets/images/logo/logo.png')}}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                <!-- Module Menu -->
                <div class="module-container">
                    <div class="module module-lang module-dropdown pull-left">
                        <div class="module-icon">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                ENG <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                        <div class="module-dropdown-menu module-content">
                            <a class="dropdown-item" href="#">ENG</a>
                            <!--<a class="dropdown-item" href="#">RU</a>
                            <a class="dropdown-item" href="#">FR</a>
                            <a class="dropdown-item" href="#">AR</a>-->
                        </div>
                    </div>
                    <div class="vertical-divider pull-left mr-30"></div>
                    <!-- Module Search -->
                    <div class="module module-search module-search-left pull-left">
                        <div class="module-icon search-icon">
                            <i class="lnr lnr-magnifier"></i>
                            <span class="title">Search</span>
                        </div>
                        <div class="module-content module--search-box">
                            <form class="form-search">
                                <input type="text" class="form-control" placeholder="Search anything">
                                <button type="submit"><span class="fa fa-arrow-right"></span></button>
                            </form><!-- .form-search end -->
                        </div>
                    </div><!-- .module-search end -->
                </div>
                <ul class="navbar-nav mr-auto ml-auto">
                    <!-- home Menu -->
                    <li class=" active">
                        <a href="{{ url_for('.index') }}" class="menu-item">Home</a>
                    </li>
                    <!-- li end -->
                    <!-- About Menu -->
                    <li>
                            <a href="{{ url_for('.about') }}" class="menu-item">Who we are</a>
                    </li>
                    <!-- li end -->
                    <!-- How Menu -->
                    <li>
                            <a href="{{ url_for('.faq') }}" class="menu-item">How it works</a>
                        </li>
                    <li>
                            <a href="{{ url_for('.registries') }}" class="menu-item">Registries</a>
                        </li>
                    <!-- li end -->
                    <!-- Blog Menu -->
                    <li>
                        <a href="{{ url_for('.blog') }}" class="menu-item">Blog</a>
                    </li>
                        <!-- li end -->
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('.dashboard') }}" class="menu-item">My Dashboard</a> </li>
                        <li><a href="{{ url_for('.logout')  }}" class="menu-item">Logout</a></li>
                    {%  else %}
                    <!-- Log in Menu -->
                    <li>
                            <a href="{{ url_for('.login') }}" class="menu-item">Log in</a>
                        </li>
                        <!-- li end -->
                    <!-- Register Menu -->
                    <li>
                            <a href="{{ url_for('.register') }}" class="menu-item">Register</a>
                        </li>
                        <!-- li end -->
                    {% endif %}
                </ul>
                <div class="module-container">
                    <div class="module module-account module-dropdown module-dropdown-right pull-left">
                        <div class="module-icon">
                            <a href="{{ url_for('.dashboard') }}">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                MY ACCOUNT
                            </button>
                            </a>
                        </div>
                    </div>
                    <!-- Module Cart -->
                    <div class="module module-cart pull-left">
                        <div class="module-icon cart-icon">
                            <i class="icon-bag"></i>
                            <span class="title">shop cart</span>
                            <label class="module-label">2</label>
                        </div>
                        <div class="module-content module-box cart-box">
                             <div class="cart-overview">
                                <ul class="list-unstyled">
                                    <li>
                                        <img class="img-fluid" src="{{url_for('static',filename='frontend/assets/images/products/thumb/1.jpg')}}" alt="product" />
                                        <div class="product-meta">
                                            <h5 class="product-title">Hebes Great Chair</h5>
                                            <p class="product-qunt">Quantity:  01</p>
                                            <p class="product-price">$24.00</p>
                                        </div>
                                        <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                                    </li>
                                    <li>
                                        <img class="img-fluid" src="{{url_for('static',filename='frontend/assets/images/products/thumb/2.jpg')}}" alt="product" />
                                        <div class="product-meta">
                                            <h5 class="product-title">Hebes Great Chair</h5>
                                            <p class="product-qunt">Quantity:  01</p>
                                            <p class="product-price">$24.00</p>
                                        </div>
                                        <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-total">
                                <div class="total-desc">
                                    Sub total
                                </div>
                                <div class="total-price">
                                    $48.00
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="cart--control">
                                <a class="btn btn--white btn--bordered btn--rounded" href="#">view cart </a>
                                <a class="btn btn--primary btn--rounded" href="#">Checkout</a>
                            </div>
                        </div>
                    </div>
                    <!-- .module-cart end -->
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</header>