{% extends 'frontend/_layout.html' %}
{% from "frontend/_formhelpers.html" import render_field %}


{% block main %}
    <!--login
============================================= -->
<section id="register-login" class="register-login pt-50 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-3">
                <div class="register-title">
                    <h5>Create Registry</h5>
                    <p>Create your registry and start adding products to your wishlist</p>
                </div>
                <!-- .register-title end -->
                <div class="form--review">
                        <form action="" method="post" enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    {{ render_field(form.name) }}
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    {{ render_field(form.description) }}
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12" style="padding-top: 0%;">
                                    {{ render_field(form.image) }}
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 text--center">
                                    <button type="submit" class="btn btn--primary btn--rounded">Proceed<i class="lnr lnr-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #checkout end -->
{% endblock %}

{% block extra_js %}
    <script src="{{url_for('static',filename='frontend/assets/dist/js/dropify.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function(event, element){
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function(event, element){
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function(event, element){
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function(e){
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
{% endblock %}