{% extends 'frontend/_layout.html' %}
{% from "frontend/_formhelpers.html" import render_field %}

{% block main %}
<section id="register-login" class="register-login pt-50 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-3">
                <div class="register-title">
                    <h5>Login to your account</h5>
                    <p>Login to your account to setup a registry and enjoy other fantastic features</p>
                </div>
                <!-- .register-title end -->
                <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                {{ render_field(form.email) }}
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                {{ render_field(form.password) }}
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-40">
                            <div class="input-checkbox inline-block">
                                <label class="label-checkbox">Keep me logged in
                                    <input type="checkbox" name="remember_me" checked>
                                    <span class="check-indicator"></span>
                                </label>
                            </div>
                            <a href="#" class="forget--password"> Forgot your password?</a>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-30">
                            <!--<a href="#" class="btn btn--primary btn--rounded">Login</a>-->
                            <input type="submit" class="btn btn--primary btn--rounded" value="Login">
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="social--login">
                                <span class="title">DON'T HAVE AN ACCOUNT?
                                    <a href="{{ url_for('.register') }}" style="text-decoration: underline; font-size: inherit; width: inherit; height: inherit; color: #8e297b; border-radius: unset;">SIGN UP</a>
                                </span>
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                    </div>
                    <!-- .row end -->
                </form>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #checkout end -->
{% endblock %}