{% extends 'frontend/_layout.html' %}

{% block main %}
<section id="register-login" class="register-login pt-50 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-3">
                <div class="register-title">
                    <h5>Login your account</h5>
                    <p>Login to your account to discovery all great features in this item</p>
                </div>
                <!-- .register-title end -->
                <form>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="user-name" placeholder="User Name">
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <input type="password" class="form-control" id="login-password" placeholder="Your Password">
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-40">
                            <div class="input-checkbox inline-block">
                                <label class="label-checkbox">Keep me logged in
                                    <input type="checkbox" checked>
                                    <span class="check-indicator"></span>
                                </label>
                            </div>
                            <a href="#" class="forget--password"> Forgot your password?</a>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-30">
                            <a href="#" class="btn btn--primary btn--rounded">Login</a>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="social--login">
                                <span class="title">OR LOGIN WITH</span>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                    </div>
                    <!-- .row end -->
                </form>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #checkout end -->
{% endblock %}