{% extends 'frontend/_layout.html' %}
{% from "frontend/_formhelpers.html" import render_field %}

{% block main %}
<section id="register-login" class="register-login pt-30 pb-150">
    <div class="container">
        <div class="row">
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-3">
                <div class="register-title">
                    <h5>Create an account</h5>
                    <p>Create an account, set up a registry and share with your friends and loved ones</p>
                </div>
                <!-- .register-title end -->
                <form method="post" action="">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            {{ render_field(form.first_name) }}
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            {{ render_field(form.last_name) }}
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            {{ render_field(form.email) }}
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            {{ render_field(form.phone_number) }}
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            {{ render_field(form.password) }}
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            {{ render_field(form.confirm_password) }}
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="input-checkbox inline-block">
                                <div class="form-group">
                                    <label class="label-checkbox">I agree to the <a href="#">terms and conditions</a>
                                    <input type="checkbox" name="terms_and_conditions" checked>
                                    <span class="check-indicator"></span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-10">
                            <input type="submit" class="btn btn--primary btn--rounded" value="Register">
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="social--login">
                                <span class="title">ALREADY HAVE AN ACCOUNT?
                                    <a href="{{ url_for('.login') }}" style="text-decoration: underline; font-size: inherit; width: inherit; height: inherit; color: #8e297b; border-radius: unset;">LOG IN</a>
                                </span>
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->

                        <!--
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="social--login">
                                <span class="title">OR Register WITH</span>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        -->
                        <!-- .col-lg-12 end -->
                    </div>
                    <!-- .row end -->
                </form>

            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #checkout end -->
{% endblock %}