{% extends 'frontend/_layout.html' %}
{% from "frontend/_formhelpers.html" import render_field %}

{% block main %}
    <!-- Page Title #3
============================================= -->
<section id="page-title" class="page-title bg-parallax">
    <div class="bg-section">
        <img src="{{ url_for('static', filename=registry.image_url) }}" alt="background">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title title-3 text-center">
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

<section id="page-title" class="page-title mt-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--heading">
                            <h1>{{ registry }}</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p>{{ registry.message }}</p>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
{% if registry.fund %}
<section id="interactive3" class="interactive interactive-2 interactive-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading heading-3 mb-100 text-center">
                    <h2 class="heading--title">Honeymoon Fund</h2>
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="banner-panel">
                    <div class="panel--content">
                        <h5>{% if registry.hashtag %} {{ registry.hashtag | lower }} {% else %} {{ registry }} {% endif %}</h5>
                        <h6>We are trying to raise {{ registry.fund | format_money }}</h6>
                        <p>{{ registry.fund.message }}</p>
                    </div>
                    <div class="pt-50">
                        <div class="progress-bg">
                            <!--
                            <div class="progress-bar">
                                <h3 class="raised">{{ registry.fund | format_money }} </h3>
                            </div>
                            -->
                            <h3 class="goal">Goal: {{ registry.fund | format_money }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 pt-50 text-center">
                <a class="btn btn--primary btn--rounded" href="#costumModal30" role="button" data-toggle="modal">Contribute</a>
            </div>
            <!-- .interactive-panel end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
{% endif %}

<!-- category
============================================= -->
<section id="category" class="category category-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 category-options">
                <div class="category-num pull-left pull-none-xs">
                    <h2><span>{{ registry.registry_products | length }}</span>PRODUCT(S) FOUND</h2>
                </div>
            </div>
            <!-- .category-options end -->        </div>
        <!-- .row end -->
        <div class="row row-no-padding mb-60">
            {% for product in registry.registry_products %}
            <!-- category item #5 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="{{ url_for('static', filename=product.product.main_image) }}" alt="category" />
                        {% if loop.last %}
                            <span class="featured-item featured-item3">ALREADY PURCHASED</span>
                        {% endif %}
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">{{ product }}</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                             <span>{{ product.product.display_price }}</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="{{ url_for('.add_product_to_cart', product_id=product.id) }}" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <!--
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                                -->
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->
            {% else %}
                <p>There are no products to display</p>
            {% endfor %}
        </div>
        <!-- .row end -->
        <!--
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#" class="btn--loading">
                    <div class="bullets">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    loading
                </a>
            </div>
        </div>
        -->
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #category end -->
{% if form %}
<div id="costumModal30" class="modal" data-easein="bounce"  tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="register-title">
                                    <h5>Contribute to our Honeymoon Fund</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="amount" placeholder="Enter Amount" class="form-control" required>
                                        </div>
                                    </div>
                                    <!-- .col-lg-12 end -->
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            {{ render_field(form.message) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="register-title">
                                    <h5>Please tell us a bit about yourself</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            {{ render_field(form.first_name) }}
                                        </div>
                                    </div>
                                    <!-- .col-lg-12 end -->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            {{ render_field(form.last_name) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            {{ render_field(form.email) }}
                                        </div>
                                    </div>
                                    <!-- .col-lg-12 end -->
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            {{ render_field(form.phone_number) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <button type="submit" class="btn btn--primary btn--rounded">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{{url_for('static',filename='frontend/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='frontend/assets/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='frontend/assets/js/velocity.min.js')}}"></script>
    <script src="{{url_for('static',filename='frontend/assets/js/velocity.ui.min.js')}}"></script>
    <script>
        $(".modal").each(function(l) {
      $(this).on("show.bs.modal", function(l) {
        var o = $(this).attr("data-easein");
        "shake" == o
          ? $(".modal-dialog").velocity("callout." + o)
          : "pulse" == o
            ? $(".modal-dialog").velocity("callout." + o)
            : "tada" == o
              ? $(".modal-dialog").velocity("callout." + o)
              : "flash" == o
                ? $(".modal-dialog").velocity("callout." + o)
                : "bounce" == o
                  ? $(".modal-dialog").velocity("callout." + o)
                  : "swing" == o
                    ? $(".modal-dialog").velocity("callout." + o)
                    : $(".modal-dialog").velocity("transition." + o);
      });
    });

    </script>
{% endblock %}