{% extends 'frontend/_layout.html' %}

{% block main %}
<section id="register-login" class="register-login pt-30 pb-150">
    <div class="container">
        <div class="row">
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-3">
                <div class="register-title">
                    <h5>Create account now</h5>
                    <p>Login to your account to discovery all great features in this item</p>
                </div>
                <!-- .register-title end -->
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="first_name" placeholder="Your Name">
                                {{ form.first_name.errors }}
                            </div>
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="register-user-name" placeholder="User Name">
                            </div>
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Phone" placeholder="Phone">
                            </div>
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <input type="password" class="form-control" id="register-password" placeholder="Password">
                            </div>
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group mb-40">
                                <input type="password" class="form-control" id="register-password-confirm" placeholder="Re Password">
                            </div>
                        </div>
                        <!-- .col-lg-6 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-40">
                            <div class="input-checkbox inline-block">
                                <label class="label-checkbox">I agree to the <a href="#">terms and conditions</a>
                                    <input type="checkbox" checked>
                                    <span class="check-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-40">
                            <a href="#" class="btn btn--primary btn--rounded">Register</a>
                        </div>
                        <!-- .col-lg-12 end -->
                        <!--
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="social--login">
                                <span class="title">OR Register WITH</span>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        -->
                        <!-- .col-lg-12 end -->
                    </div>
                    <!-- .row end -->
                </form>

            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #checkout end -->
{% endblock %}