{% extends 'frontend/_layout.html' %}
{% from "frontend/_formhelpers.html" import render_field %}

{% block main %}
<section id="register-login" class="register-login pt-50 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-3">
                <div class="register-title">
                    <h5>Verify your account</h5>
                    <p>Verify your account to discover all great features in this item</p>
                </div>
                <!-- .register-title end -->
                <form method="post" action="">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            {{ render_field(form.email) }}
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            {{ render_field(form.verification_code) }}
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-40">
                            <a href="#" class="forget--password"> Resend verification code?</a>
                        </div>
                        <!-- .col-lg-12 end -->
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-30">
                            <input type="submit" class="btn btn--primary btn--rounded" value="Verify">
                        </div>
                        <!-- .col-lg-12 end -->
                        <!--
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="social--login">
                                <span class="title">OR LOGIN WITH</span>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        -->
                        <!-- .col-lg-12 end -->
                    </div>
                    <!-- .row end -->
                </form>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #checkout end -->
{% endblock %}