<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <link href="assets/images/logo/fav.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CPlayfair+Display:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi|Sacramento&display=swap" rel="stylesheet">
    <!-- Stylesheets
    ============================================= -->
    <link href="assets/css/external.css" rel="stylesheet">
    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Home | My Wish List</title>
</head>

<body>
    <div class="preloader">
	<div class="loader-eclipse">
		<div class="loader-content"></div>
	</div>
</div>    <!-- Document Wrapper
	============================================= -->
    <div id="wrapperParallax" class="wrapper wrapper-boxed clearfix">
<header id="navbar-spy" class="header header-1 header-8 header-light">
    <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light logo-centered">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img class="logo logo-light" src="assets/images/logo/logo.png" alt="logo">
                <img class="logo logo-dark" src="assets/images/logo/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                <!-- Module Menu -->
                <div class="module-container">
                    <div class="module module-lang module-dropdown pull-left">
    <div class="module-icon">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            ENG <i class="fa fa-caret-down"></i>
        </button>
    </div>
    <div class="module-dropdown-menu module-content">
        <a class="dropdown-item" href="#">RU</a>
        <a class="dropdown-item" href="#">FR</a>
        <a class="dropdown-item" href="#">AR</a>
    </div>
</div>
<div class="vertical-divider pull-left mr-30"></div>
<!-- Module Search -->
<div class="module module-search module-search-left pull-left">
    <div class="module-icon search-icon">
        <i class="lnr lnr-magnifier"></i>
        <span class="title">Search</span>
    </div>
    <div class="module-content module--search-box">
        <form class="form-search">
            <input type="text" class="form-control" placeholder="Search anything">
            <button type="submit"><span class="fa fa-arrow-right"></span></button>
        </form><!-- .form-search end -->
    </div>
</div><!-- .module-search end -->
                </div>
<ul class="navbar-nav mr-auto ml-auto">
<!-- home Menu -->
<li class=" active">
    <a href="#" class="menu-item">Home</a>
</li>
<!-- li end -->
<!-- About Menu -->
<li>
        <a href="#" class="menu-item">Who we are</a>
</li>
<!-- li end -->
<!-- How Menu -->
<li>
        <a href="#" class="menu-item">How it works</a>
    </li>
    <!-- li end -->
<!-- Shop Menu -->
<li class="has-dropdown mega-dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Shop</a>
    <ul class="dropdown-menu mega-dropdown-menu collections-menu">
        <li>
            <div class="container">
                <div class="row">
                    <!-- Column #1 -->
                    <div class="col-md-12 col-lg-5ths">
                        <div class="collection--menu-content">
                            <h5>Furniture</h5>
                            <ul>
                                <li>
                                    <a href="">chair</a>
                                </li>
                                <li>
                                    <a href="">sofa</a>
                                </li>
                                <li>
                                    <a href="">table</a>
                                </li>
                                <li>
                                    <a href="">bed</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu--img">
                            <img src="assets/images/slider/layers/1.png" alt="img" class="img-fluid">
                        </div>
                    </div>
                    <!-- .col-lg-5ths end -->

                    <!-- Column #2 -->
                    <div class="col-md-12 col-lg-5ths">
                        <div class="collection--menu-content">
                            <h5>Lighting</h5>
                            <ul>
                                <li>
                                    <a href="">Wall Lamp</a>
                                </li>
                                <li>
                                    <a href="">Bedroom Lamp</a>
                                </li>
                                <li>
                                    <a href="">Garden Lamp</a>
                                </li>
                                <li>
                                    <a href="">Desktop Lamp</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu--img">
                            <img src="assets/images/slider/layers/37.png" alt="img" class="img-fluid">
                        </div>
                    </div>
                    <!-- .col-lg-5ths end -->

                    <!-- Column #3 -->
                    <div class="col-md-12 col-lg-5ths">
                        <div class="collection--menu-content">
                            <h5>Wood Shelf</h5>
                            <ul>
                                <li>
                                    <a href="">wood Living</a>
                                </li>
                                <li>
                                    <a href="">wood Bedroom</a>
                                </li>
                                <li>
                                    <a href="">wood Garden</a>
                                </li>
                                <li>
                                    <a href="">wood tables</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu--img">
                            <img src="assets/images/slider/layers/34.png" alt="img" class="img-fluid">
                        </div>
                    </div>
                    <!-- .col-lg-5ths end -->

                    <!-- Column #4 -->
                    <div class="col-md-12 col-lg-5ths">
                        <div class="collection--menu-content">
                            <h5>Accessories</h5>
                            <ul>
                                <li>
                                    <a href="">Shoes</a>
                                </li>
                                <li>
                                    <a href="">Bags</a>
                                </li>
                                <li>
                                    <a href="">Jewellery</a>
                                </li>
                                <li>
                                    <a href="">Scarves</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu--img">
                            <img src="assets/images/slider/layers/35.png" alt="img" class="img-fluid">
                        </div>
                    </div>
                    <!-- .col-lg-5ths end -->

                    <!-- Column #5 -->
                    <div class="col-md-12 col-lg-5ths">
                        <div class="collection--menu-content">
                            <h5>Sale Off</h5>
                            <ul>
                                <li>
                                    <a href="">Sunglasses</a>
                                </li>
                                <li>
                                    <a href="">jackets</a>
                                </li>
                                <li>
                                    <a href="">Shirts</a>
                                </li>
                                <li>
                                    <a href="">Socks</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu--img">
                            <img src="assets/images/slider/layers/36.png" alt="img" class="img-fluid">
                        </div>
                    </div>
                    <!-- .col-lg-5ths end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- container end -->
        </li>
    </ul>
    <!-- .mega-dropdown-menu end -->
</li>
<!-- li end -->
<!-- Blog Menu -->
<li>
        <a href="#" class="menu-item">Blog</a>
    </li>
    <!-- li end -->
<!-- Log in Menu -->
<li>
        <a href="login.html" class="menu-item">Log in</a>
    </li>
    <!-- li end -->
<!-- Register Menu -->
<li>
        <a href="#" class="menu-item">Register</a>
    </li>
    <!-- li end -->
</ul>
                <div class="module-container">
                    <div class="module module-account module-dropdown module-dropdown-right pull-left">
    <div class="module-icon">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            MY ACCOUNT <i class="fa fa-caret-down"></i>
        </button>
    </div>
    <div class="module-dropdown-menu module-content">
        <a class="dropdown-item" href="#">profile</a>
        <a class="dropdown-item" href="#">wishlist</a>
    </div>
</div>
                    <!-- Module Cart -->
<div class="module module-cart pull-left">
    <div class="module-icon cart-icon">
        <i class="icon-bag"></i>
        <span class="title">shop cart</span>
        <label class="module-label">2</label>
    </div>
    <div class="module-content module-box cart-box">
         <div class="cart-overview">
            <ul class="list-unstyled">
                <li>
                    <img class="img-fluid" src="assets/images/products/thumb/1.jpg" alt="product" />
                    <div class="product-meta"> 
                        <h5 class="product-title">Hebes Great Chair</h5>
                        <p class="product-qunt">Quantity:  01</p>
                        <p class="product-price">$24.00</p>
                    </div>
                    <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                </li>
                <li>
                    <img class="img-fluid" src="assets/images/products/thumb/2.jpg" alt="product" />
                    <div class="product-meta">
                        <h5 class="product-title">Hebes Great Chair</h5>
                        <p class="product-qunt">Quantity:  01</p>
                        <p class="product-price">$24.00</p>
                    </div>
                    <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                </li>
            </ul>
        </div>
        <div class="cart-total">
            <div class="total-desc">
                Sub total
            </div>
            <div class="total-price">
                $48.00
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="cart--control">
            <a class="btn btn--white btn--bordered btn--rounded" href="#">view cart </a>
            <a class="btn btn--primary btn--rounded" href="#">Checkout</a>
        </div>
    </div>
</div>
<!-- .module-cart end -->
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</header>

<div class="slider slider-11">
<div id="rev_slider_12_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="hebes-home-11" data-source="gallery" style="background:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.4.7 fullscreen mode -->
	<div id="rev_slider_12_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7">
<ul>	<!-- SLIDE  --> 
    <li data-index="rs-47" data-transition="parallaxtoleft" 
         data-easein="Power4.easeInOut" 
         data-easeout="Power4.easeInOut" 
         data-masterspeed="2000" >
		<!-- MAIN IMAGE -->
        <img src="assets/images/slider/bg/0.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-47-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['100','100','70','50']" 
			 data-y="['top','top','top','top']" data-voffset="['200','200','350','320']" 
            data-fontsize="['72','72','72','60']"
			data-lineheight="['72','72','72','60']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
            data-type="text" 
			data-responsive_offset="on" 
            data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
             style="z-index: 6; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 700; color: #000000; letter-spacing: 0px;font-family:Montserrat;">all the best<br>gifts, for<br>
            <span style="color:#9e2a97; font-family: 'Sacramento', cursive;">lovesake </span> 

 </div>
</li>
</ul>
</div>
</div>
    
</div> 
<script>
    var revapi12,
        tpj;
    (function() {
        if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad)
        else
            onLoad();

        function onLoad() {
            if (tpj === undefined) {
                tpj = jQuery;

                if ("off" == "on") tpj.noConflict();
            }
            if (tpj("#rev_slider_12_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_12_1");
            } else {
                revapi12 = tpj("#rev_slider_12_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "assets/revolution/js/",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [700, 768, 960, 720],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        speedbg: 0,
                        speedls: 0,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 3, 2, 55],
                    },
                    shadow: 0,
                    spinner: "spinner0",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
                var api = revapi12;

                /* no need to edit below */
                var divider = ' / ',
                    totalSlides,
                    numberText;

                api.one('revolution.slide.onloaded', function() {

                    totalSlides = api.revmaxslide();
                    numberText = api.find('.slide-status-numbers').text('1' + divider + totalSlides);

                    api.on('revolution.slide.onbeforeswap', function(e, data) {

                        numberText.text((data.nextslide.index() + 1) + divider + totalSlides);

                    });

                });
            }; /* END OF revapi call */
        }; /* END OF ON LOAD FUNCTION */
    }()); /* END OF WRAPPING FUNCTION */
</script>
<!-- collection #4
============================================= -->
<section id="collection4" class="collection collection-4 pt-50 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="heading text--center mb-100">
                    <h2 class="heading--title">all the most beautiful <span style="color:#9e2a97; font-family: 'Sacramento', cursive; font-size: 66px;">gifts</span> in one place!</h2>
                    <p class="heading--desc">MyWishlistNG is a bespoke gift registry that allows you to choose the ideal gifts for your special occasion. It's a list of preferred gift 
                        items for a particular occasion or event that is curated by the intended recipients of the gifts and passed on to their guests</p>
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="heading text--center mb-100">
                        <h2 class="heading--title"><span style="font-family: 'Sacramento', cursive; font-size: 66px; font-weight: 500;">how it works.</span></h2>
                    </div>
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        <div class="row">
            <!-- collection item #1 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="item-info text-center pb-50">
                    <h5 style= "color:#9e2a97; font-family: 'Alatsi', sans-serif;">create.</h5>
                    <p>create a visual list of items for your wedding, bridal shower, birthdays, baby showers, graduation and so on.</p>
                </div>
                <div class="collection-item collection-item-3">
                    <div class="item--numb">01</div>
                    <div class="collection--img">
                        <img src="assets/images/collection/col4/registry.jpg" alt="collection" />
                        <div class="collection--hover">
                            <div class="collection--action">
                                <a href="#" class="btn">SHOP NOW</a>
                            </div>
                        </div>
                        <!-- .collection-hover end -->
                    </div>
                    <!-- .collection-img end -->
                    <div class="collection--content">
                        <div class="collection--title">
                            <h3>Create a Registry</h3>
                        </div>
                        <!-- .collection-title end -->
                        <div class="collection--desc">
                            <p>Let your family and friends know what you really like, so they know what to gift you.</p>
                        </div>
                        <!-- .collection-desc end -->
                    </div>
                    <!-- .collection-content end -->
                </div>
                <!-- .collection-item end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- collection item #2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="item-info text-center pb-50">
                        <h5 style= "color:#9e2a97; font-family: 'Alatsi', sans-serif;">share your URL.</h5>
                        <p>A custom URL directly takes your guests to your event page to enable them see your gift list and purchase.</p>
                    </div>
                <div class="collection-item collection-item-4">
                    <div class="item--numb">02</div>
                    <div class="collection--img">
                        <img src="assets/images/collection/col4/find_registry.jpg" alt="collection" />
                        <div class="collection--hover">
                            <div class="collection--action">
                                <a href="#" class="btn">SHOP NOW</a>
                            </div>
                        </div>
                        <!-- .collection-hover end -->
                    </div>
                    <!-- .collection-img end -->
                    <div class="collection--content">
                        <div class="collection--title">
                            <h3>Find a Registry</h3>
                        </div>
                        <!-- .collection-title end -->
                        <div class="collection--desc">
                            <p>Discover what your celebrant would like to receive from you.</p>
                        </div>
                        <!-- .collection-desc end -->
                    </div>
                    <!-- .collection-content end -->
                </div>
                <!-- .collection-item end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- collection item #3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="item-info text-center pb-50">
                        <h5 style= "color:#9e2a97; font-family: 'Alatsi', sans-serif;">track.</h5>
                        <p>MyWishlistNG prevents gift givers from duplicating gifts and allows you to easily track and manage items sild from the registry.</p>
                    </div>
                <div class="collection-item collection-item-5">
                    <div class="item--numb">03</div>
                    <div class="collection--img">
                        <img src="assets/images/collection/col4/honeymoon.jpg" alt="collection" />
                        <div class="collection--hover">
                            <div class="collection--action">
                                <a href="#" class="btn">SHOP NOW</a>
                            </div>
                        </div>
                        <!-- .collection-hover end -->
                    </div>
                    <!-- .collection-img end -->
                    <div class="collection--content">
                        <div class="collection--title">
                            <h3><a href="product-gallery-vertical.html">Honeymoon Fund</a></h3>
                        </div>
                        <!-- .collection-title end -->
                        <div class="collection--desc">
                            <p>Gift your couple a special treat, by contributing to their love get away experience.</p>
                        </div>
                        <!-- .collection-desc end -->
                    </div>
                    <!-- .collection-content end -->
                </div>
                <!-- .collection-item end -->
            </div>
            <!-- .col-lg-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- .collections4 end -->
<!-- newsletter #3
============================================= -->
<section id="newsletter3" class="newsletter newsletter-3 text-center bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="heading heading-4">
                        <h5 class="heading--title">stay connected to <span style="color:#fdb0d4; font-family: 'Sacramento', cursive; font-size: 72px; font-weight: 500;">discover</span> more about us</h5>
                        <p class="heading--desc">Get notified about the latest news and updates. No spam, we promise!</p>
                    </div>
                    <form class="mailchimp">
                        <div class="form-group">
                            <input type="text" class="form-control" id="newsletter-email" placeholder="Enter your email">
                            <button type="submit" class="btn">SUBSCRIBE<i class="lnr lnr-arrow-right"></i></button>
                        </div>
                    </form>
                    <div class="subscribe-alert"></div>
                    <div class="clearfix"></div>
                </div>
                <!-- .col-lg-8 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #newsletter end -->
<!-- categories list #1
============================================= -->
<section id="cat-list" class="cat-list bg-lightpurple text-center-xs pt-50 pt-xs-60">
        <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <div class="heading text--center mb-100">
                            <h2 class="heading--title">discover an array of <span style="color:#9e2a97; font-family: 'Sacramento', cursive; font-size: 66px;">exquisite</span> gifts to choose from</h2>
                        </div>
                    </div>
                    <!-- .col-lg-12 end -->
                </div>
            <div class="row">
                    <!-- .col-lg-3 end -->
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="cat--list-item">
                            <a href="#">
                                <img src="assets/images/categories/list/1.jpg" alt="img">
                                <h4># Kitchen &amp; Household</h4>
                            </a>
                        </div>
                    </div>
                <!-- .col-lg-3 end -->
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="cat--list-item">
                        <a href="#">
                            <img src="assets/images/categories/list/2.jpg" alt="img">
                            <h4># Home electronics</h4>
                        </a>
                    </div>
                </div>
                <!-- .col-lg-3 end -->
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="cat--list-item">
                        <a href="#">
                            <img src="assets/images/categories/list/3.jpg" alt="img">
                            <h4># Fashion &amp; Jewelry</h4>
                        </a>
                    </div>
                </div>
                <!-- .col-lg-3 end -->
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="cat--list-item">
                        <a href="#">
                            <img src="assets/images/categories/list/4.jpg" alt="img">
                            <h4># Baby gifts</h4>
                        </a>
                    </div>
                </div>
                <!-- .col-lg-3 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #categories-list end -->
    <div class="bg-white clearfix"></div>

    
<section id="newsletter3" class="newsletter newsletter-3 text-center bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="heading heading-5">
                        <h5 class="heading--title">TO DISCOVER MORE SUCH AS GIFTCARDS <span style="color:#fdb0d4; font-family: 'Sacramento', cursive; font-size: 60px; font-weight: 400;"> and other</span> PLEASE <a href="">CLICK HERE</a></h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- .col-lg-8 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
<!-- feature #1
============================================= -->
<section id="feature1" class="feature feature-1  pt-50 pb-80 pb-60-xs">
    <div class="container">
        <div class="row">
            <!--  feature panel #1 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature--icon">
                        <i class="icon-bolt"></i>
                    </div>
                    <!-- .feature-icon end -->
                    <div class="feature--content">
                        <h3>Creative &amp; Unique</h3>
                        <p>GREAT FROM US</p>
                    </div>
                    <!-- .feature-content end -->
                </div>
            </div>
            <!-- .feature-panel end -->
            <!--  feature panel #2 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature--icon">
                        <i class="icon-location"></i>
                    </div>
                    <!-- .feature-icon end -->
                    <div class="feature--content">
                        <h3>Free Shipping</h3>
                        <p>ALL ORDER OVER $30</p>
                    </div>
                    <!-- .feature-content end -->
                </div>
            </div>
            <!-- .feature-panel end -->
            <!--  feature panel #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature--icon">
                        <i class="icon-phone"></i>
                    </div>
                    <!-- .feature-icon end -->
                    <div class="feature--content">
                        <h3>Support Customer</h3>
                        <p>SUPPORT 24/7</p>
                    </div>
                    <!-- .feature-content end -->
                </div>
            </div>
            <!-- .feature-panel end -->
            <!--  feature panel #4 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature--icon">
                        <i class="icon-link icon-md"></i>
                    </div>
                    <!-- .feature-icon end -->
                    <div class="feature--content">
                        <h3>Secure Payment</h3>
                        <p>100% SECURE PAYMENT</p>
                    </div>
                    <!-- .feature-content end -->
                </div>
            </div>
            <!-- .feature-panel end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature1 end -->

<!-- Footer #1
============================================= -->
<footer id="footerParallax" class="footer footer-1">
    <div class="container pr-40 pl-40">
        <div class="footer-widget">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 text-center-xs widget--links">
                    <div class="widget--content">
                        <ul class="list-unstyled">
                            <li><a href="page-about-1.html">About Us </a></li>
                            <li><a href="page-privacy.html">Privacy Policy</a></li>
                            <li><a href="page-terms.html">Term & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-12 col-lg-4 text-center widget--logo">
                    <div class="widget--content">
                        <div class="widget--logo-img">
                            <img src="assets/images/logo/logo.png" alt="logo">
                        </div>
                    </div>
                    <div class="footer--copyright">
                        <span>&copy;<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> MyWishlistNG - All Rights Reserved</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-12 col-lg-4 text-right text-center-xs text-center-sm widget--social">
                    <div class="widget--content">
                        <div class="social--icons">
                            <span>Follow Us On Social</span>
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="google-plus" href="#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
</footer>
<div class="toast jam" aria-hidden="true">
    <span class="close" aria-role="button" tabindex="0">&times;</span>
    Account Successfully Created
</div>
<div class="toast-failed failed-jam" aria-hidden="true">
    <span class="failed-close" aria-role="button" tabindex="0">&times;</span>
    Account Creation failed
</div>


<!-- Footer Scripts
============================================= -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
<!-- RS5.0 Core JS Files -->
<script src="assets/revolution/js/jquery.themepunch.tools.min838f.js?rev=5.0"></script>
<script src="assets/revolution/js/jquery.themepunch.revolution.min838f.js?rev=5.0"></script>
<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Configration JS Files -->
<script src="assets/js/rsconfig.js"></script>

</body>
</html>
