<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <!-- Document Meta
        ============================================= -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--IE Compatibility Meta-->
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <link href="assets/images/logo/fav.png" rel="icon">
    
        <!-- Fonts
        ============================================= -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CPlayfair+Display:400,400i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alatsi|Sacramento&display=swap" rel="stylesheet">
        <!-- Stylesheets
        ============================================= -->
        <link href="assets/css/external.css" rel="stylesheet">
        <!-- RS5.0 Main Stylesheet -->
        <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">
    
        <link rel="stylesheet" href="assets/css/style.css">
    
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    
        <!-- Document Title
        ============================================= -->
        <title>Dashboard | My Wish List</title>
    </head>

<body>
    <div class="preloader">
	<div class="loader-eclipse">
		<div class="loader-content"></div>
	</div>
</div>    <!-- Document Wrapper
	============================================= -->
    <div id="wrapperParallax" class="wrapper clearfix">
        <header id="navbar-spy" class="header header-1 header-8 header-light">
            <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light logo-centered">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo logo-light" src="assets/images/logo/logo.png" alt="logo">
                        <img class="logo logo-dark" src="assets/images/logo/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                        <!-- Module Menu -->
                        <div class="module-container">
                            <div class="module module-lang module-dropdown pull-left">
            <div class="module-icon">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    ENG <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="module-dropdown-menu module-content">
                <a class="dropdown-item" href="#">RU</a>
                <a class="dropdown-item" href="#">FR</a>
                <a class="dropdown-item" href="#">AR</a>
            </div>
        </div>
        <div class="vertical-divider pull-left mr-30"></div>
        <!-- Module Search -->
        <div class="module module-search module-search-left pull-left">
            <div class="module-icon search-icon">
                <i class="lnr lnr-magnifier"></i>
                <span class="title">Search</span>
            </div>
            <div class="module-content module--search-box">
                <form class="form-search">
                    <input type="text" class="form-control" placeholder="Search anything">
                    <button type="submit"><span class="fa fa-arrow-right"></span></button>
                </form><!-- .form-search end -->
            </div>
        </div><!-- .module-search end -->
                        </div>
        <ul class="navbar-nav mr-auto ml-auto">
        <!-- home Menu -->
        <li class=" active">
            <a href="#" class="menu-item">Home</a>
        </li>
        <!-- li end -->
        <!-- About Menu -->
        <li>
                <a href="#" class="menu-item">Who we are</a>
        </li>
        <!-- li end -->
        <!-- How Menu -->
        <li>
                <a href="#" class="menu-item">How it works</a>
            </li>
            <!-- li end -->
        <!-- Shop Menu -->
        <li class="has-dropdown mega-dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Shop</a>
            <ul class="dropdown-menu mega-dropdown-menu collections-menu">
                <li>
                    <div class="container">
                        <div class="row">
                            <!-- Column #1 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Furniture</h5>
                                    <ul>
                                        <li>
                                            <a href="">chair</a>
                                        </li>
                                        <li>
                                            <a href="">sofa</a>
                                        </li>
                                        <li>
                                            <a href="">table</a>
                                        </li>
                                        <li>
                                            <a href="">bed</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/1.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #2 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Lighting</h5>
                                    <ul>
                                        <li>
                                            <a href="">Wall Lamp</a>
                                        </li>
                                        <li>
                                            <a href="">Bedroom Lamp</a>
                                        </li>
                                        <li>
                                            <a href="">Garden Lamp</a>
                                        </li>
                                        <li>
                                            <a href="">Desktop Lamp</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/37.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #3 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Wood Shelf</h5>
                                    <ul>
                                        <li>
                                            <a href="">wood Living</a>
                                        </li>
                                        <li>
                                            <a href="">wood Bedroom</a>
                                        </li>
                                        <li>
                                            <a href="">wood Garden</a>
                                        </li>
                                        <li>
                                            <a href="">wood tables</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/34.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #4 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Accessories</h5>
                                    <ul>
                                        <li>
                                            <a href="">Shoes</a>
                                        </li>
                                        <li>
                                            <a href="">Bags</a>
                                        </li>
                                        <li>
                                            <a href="">Jewellery</a>
                                        </li>
                                        <li>
                                            <a href="">Scarves</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/35.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #5 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Sale Off</h5>
                                    <ul>
                                        <li>
                                            <a href="">Sunglasses</a>
                                        </li>
                                        <li>
                                            <a href="">jackets</a>
                                        </li>
                                        <li>
                                            <a href="">Shirts</a>
                                        </li>
                                        <li>
                                            <a href="">Socks</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/36.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- container end -->
                </li>
            </ul>
            <!-- .mega-dropdown-menu end -->
        </li>
        <!-- li end -->
        <!-- Blog Menu -->
        <li>
                <a href="#" class="menu-item">Blog</a>
            </li>
            <!-- li end -->
        <!-- Log in Menu -->
        <li>
                <a href="login.html" class="menu-item">Log in</a>
            </li>
            <!-- li end -->
        <!-- Register Menu -->
        <li>
                <a href="#" class="menu-item">Register</a>
            </li>
            <!-- li end -->
        </ul>
                        <div class="module-container">
                            <div class="module module-account module-dropdown module-dropdown-right pull-left">
            <div class="module-icon">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    MY ACCOUNT <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="module-dropdown-menu module-content">
                <a class="dropdown-item" href="#">profile</a>
                <a class="dropdown-item" href="#">wishlist</a>
            </div>
        </div>
                            <!-- Module Cart -->
        <div class="module module-cart pull-left">
            <div class="module-icon cart-icon">
                <i class="icon-bag"></i>
                <span class="title">shop cart</span>
                <label class="module-label">2</label>
            </div>
            <div class="module-content module-box cart-box">
                 <div class="cart-overview">
                    <ul class="list-unstyled">
                        <li>
                            <img class="img-fluid" src="assets/images/products/thumb/1.jpg" alt="product" />
                            <div class="product-meta"> 
                                <h5 class="product-title">  Great Chair</h5>
                                <p class="product-qunt">Quantity:  01</p>
                                <p class="product-price">$24.00</p>
                            </div>
                            <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                        </li>
                        <li>
                            <img class="img-fluid" src="assets/images/products/thumb/2.jpg" alt="product" />
                            <div class="product-meta">
                                <h5 class="product-title">  Great Chair</h5>
                                <p class="product-qunt">Quantity:  01</p>
                                <p class="product-price">$24.00</p>
                            </div>
                            <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="cart-total">
                    <div class="total-desc">
                        Sub total
                    </div>
                    <div class="total-price">
                        $48.00
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="cart--control">
                    <a class="btn btn--white btn--bordered btn--rounded" href="#">view cart </a>
                    <a class="btn btn--primary btn--rounded" href="#">Checkout</a>
                </div>
            </div>
        </div>
        <!-- .module-cart end -->
                        </div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </header>
<!-- Page Title #3
about #1
============================================= -->
<section id="about1" class="about about-1 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="heading heading-2">
                    <h2 class="heading--title">Welcome to your Dashboard</h2>
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="about--text">
                    <p>If you're like the average knowledge worker, you spend most of your time sitting in front of a computer screen. Even though your work revolves around it</p>
                 </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<section id="product-detalis2" class="product-detalis product-detalis-2 product-detalis-4 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="product--tabs tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#myregistry" aria-controls="myregistry" role="tab" data-toggle="tab" class="active">My Registries</a></li>
        <li><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">My Orders</a></li>
        <li><a href="#wishlistordered" aria-controls="wishlistordered" role="tab" data-toggle="tab">Purchased Gift</a></li>
        <li><a href="#donations" aria-controls="donations" role="tab" data-toggle="tab">Donations</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="myregistry">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <h3 class="pt-60" style="color: dimgrey; text-align: center !important;">No Registry</h3>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 pt-60 mb-80">
                            <a href="#" class="btn btn--primary btn--rounded" style="width: 230px;">CREATE REGISTRY</a>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- .row end -->
        </div>
        <!-- #description end -->
        <div role="tabpanel" class="tab-pane fade" id="orders">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <h3 class="pt-60" style="color: dimgrey; text-align: center !important;">No Orders</h3>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <!-- #details end -->
        <div role="tabpanel" class="tab-pane fade" id="wishlistordered">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <h3 class="pt-60" style="color: dimgrey; text-align: center !important;">No Orders</h3>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- .row end -->
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="donations">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <h3 class="pt-60" style="color: dimgrey; text-align: center !important;">No Donations</h3>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- .row end -->
        </div>
        <!-- #reviews end -->
    </div>
    <!-- #tab-content end -->
</div>
<!-- .product-tabs end -->            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->
</section>


<!-- Footer #2
============================================= -->
<footer id="footerParallax" class="footer footer-1">
    <div class="container pr-40 pl-40">
        <div class="footer-widget">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 text-center-xs widget--links">
                    <div class="widget--content">
                        <ul class="list-unstyled">
                            <li><a href="page-about-1.html">About Us </a></li>
                            <li><a href="page-privacy.html">Privacy Policy</a></li>
                            <li><a href="page-terms.html">Term & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-12 col-lg-4 text-center widget--logo">
                    <div class="widget--content">
                        <div class="widget--logo-img">
                            <img src="assets/images/logo/logo.png" alt="logo">
                        </div>
                    </div>
                    <div class="footer--copyright">
                        <span>&copy;<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> MyWishlistNG - All Rights Reserved</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-12 col-lg-4 text-right text-center-xs text-center-sm widget--social">
                    <div class="widget--content">
                        <div class="social--icons">
                            <span>Follow Us On Social</span>
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="google-plus" href="#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
</footer>
 </div><!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>