<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <!-- Document Meta
        ============================================= -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--IE Compatibility Meta-->
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <link href="assets/images/logo/fav.png" rel="icon">
    
        <!-- Fonts
        ============================================= -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CPlayfair+Display:400,400i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alatsi|Sacramento&display=swap" rel="stylesheet">
        <!-- Stylesheets
        ============================================= -->
        <link href="assets/css/external.css" rel="stylesheet">
        <!-- RS5.0 Main Stylesheet -->
        <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">
    
        <link rel="stylesheet" href="assets/css/style.css">
    
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    
        <!-- Document Title
        ============================================= -->
        <title>Home | My Wish List</title>
    </head>

<body>
    <div class="preloader">
	<div class="loader-eclipse">
		<div class="loader-content"></div>
	</div>
</div>    <!-- Document Wrapper
	============================================= -->
    <div id="wrapperParallax" class="wrapper clearfix">
        <header id="navbar-spy" class="header header-1 header-8 header-light">
            <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light logo-centered">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo logo-light" src="assets/images/logo/logo.png" alt="logo">
                        <img class="logo logo-dark" src="assets/images/logo/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                        <!-- Module Menu -->
                        <div class="module-container">
                            <div class="module module-lang module-dropdown pull-left">
            <div class="module-icon">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    ENG <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="module-dropdown-menu module-content">
                <a class="dropdown-item" href="#">RU</a>
                <a class="dropdown-item" href="#">FR</a>
                <a class="dropdown-item" href="#">AR</a>
            </div>
        </div>
        <div class="vertical-divider pull-left mr-30"></div>
        <!-- Module Search -->
        <div class="module module-search module-search-left pull-left">
            <div class="module-icon search-icon">
                <i class="lnr lnr-magnifier"></i>
                <span class="title">Search</span>
            </div>
            <div class="module-content module--search-box">
                <form class="form-search">
                    <input type="text" class="form-control" placeholder="Search anything">
                    <button type="submit"><span class="fa fa-arrow-right"></span></button>
                </form><!-- .form-search end -->
            </div>
        </div><!-- .module-search end -->
                        </div>
        <ul class="navbar-nav mr-auto ml-auto">
        <!-- home Menu -->
        <li class=" active">
            <a href="#" class="menu-item">Home</a>
        </li>
        <!-- li end -->
        <!-- About Menu -->
        <li>
                <a href="#" class="menu-item">Who we are</a>
        </li>
        <!-- li end -->
        <!-- How Menu -->
        <li>
                <a href="#" class="menu-item">How it works</a>
            </li>
            <!-- li end -->
        <!-- Shop Menu -->
        <li class="has-dropdown mega-dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Shop</a>
            <ul class="dropdown-menu mega-dropdown-menu collections-menu">
                <li>
                    <div class="container">
                        <div class="row">
                            <!-- Column #1 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Furniture</h5>
                                    <ul>
                                        <li>
                                            <a href="">chair</a>
                                        </li>
                                        <li>
                                            <a href="">sofa</a>
                                        </li>
                                        <li>
                                            <a href="">table</a>
                                        </li>
                                        <li>
                                            <a href="">bed</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/1.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #2 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Lighting</h5>
                                    <ul>
                                        <li>
                                            <a href="">Wall Lamp</a>
                                        </li>
                                        <li>
                                            <a href="">Bedroom Lamp</a>
                                        </li>
                                        <li>
                                            <a href="">Garden Lamp</a>
                                        </li>
                                        <li>
                                            <a href="">Desktop Lamp</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/37.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #3 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Wood Shelf</h5>
                                    <ul>
                                        <li>
                                            <a href="">wood Living</a>
                                        </li>
                                        <li>
                                            <a href="">wood Bedroom</a>
                                        </li>
                                        <li>
                                            <a href="">wood Garden</a>
                                        </li>
                                        <li>
                                            <a href="">wood tables</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/34.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #4 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Accessories</h5>
                                    <ul>
                                        <li>
                                            <a href="">Shoes</a>
                                        </li>
                                        <li>
                                            <a href="">Bags</a>
                                        </li>
                                        <li>
                                            <a href="">Jewellery</a>
                                        </li>
                                        <li>
                                            <a href="">Scarves</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/35.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
        
                            <!-- Column #5 -->
                            <div class="col-md-12 col-lg-5ths">
                                <div class="collection--menu-content">
                                    <h5>Sale Off</h5>
                                    <ul>
                                        <li>
                                            <a href="">Sunglasses</a>
                                        </li>
                                        <li>
                                            <a href="">jackets</a>
                                        </li>
                                        <li>
                                            <a href="">Shirts</a>
                                        </li>
                                        <li>
                                            <a href="">Socks</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu--img">
                                    <img src="assets/images/slider/layers/36.png" alt="img" class="img-fluid">
                                </div>
                            </div>
                            <!-- .col-lg-5ths end -->
                        </div>
                        <!-- .row end -->
                    </div>
                    <!-- container end -->
                </li>
            </ul>
            <!-- .mega-dropdown-menu end -->
        </li>
        <!-- li end -->
        <!-- Blog Menu -->
        <li>
                <a href="#" class="menu-item">Blog</a>
            </li>
            <!-- li end -->
        <!-- Log in Menu -->
        <li>
                <a href="login.html" class="menu-item">Log in</a>
            </li>
            <!-- li end -->
        <!-- Register Menu -->
        <li>
                <a href="#" class="menu-item">Register</a>
            </li>
            <!-- li end -->
        </ul>
                        <div class="module-container">
                            <div class="module module-account module-dropdown module-dropdown-right pull-left">
            <div class="module-icon">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    MY ACCOUNT <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="module-dropdown-menu module-content">
                <a class="dropdown-item" href="#">profile</a>
                <a class="dropdown-item" href="#">wishlist</a>
            </div>
        </div>
                            <!-- Module Cart -->
        <div class="module module-cart pull-left">
            <div class="module-icon cart-icon">
                <i class="icon-bag"></i>
                <span class="title">shop cart</span>
                <label class="module-label">2</label>
            </div>
            <div class="module-content module-box cart-box">
                 <div class="cart-overview">
                    <ul class="list-unstyled">
                        <li>
                            <img class="img-fluid" src="assets/images/products/thumb/1.jpg" alt="product" />
                            <div class="product-meta"> 
                                <h5 class="product-title">  Great Chair</h5>
                                <p class="product-qunt">Quantity:  01</p>
                                <p class="product-price">$24.00</p>
                            </div>
                            <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                        </li>
                        <li>
                            <img class="img-fluid" src="assets/images/products/thumb/2.jpg" alt="product" />
                            <div class="product-meta">
                                <h5 class="product-title">  Great Chair</h5>
                                <p class="product-qunt">Quantity:  01</p>
                                <p class="product-price">$24.00</p>
                            </div>
                            <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="cart-total">
                    <div class="total-desc">
                        Sub total
                    </div>
                    <div class="total-price">
                        $48.00
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="cart--control">
                    <a class="btn btn--white btn--bordered btn--rounded" href="#">view cart </a>
                    <a class="btn btn--primary btn--rounded" href="#">Checkout</a>
                </div>
            </div>
        </div>
        <!-- .module-cart end -->
                        </div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </header>
<!-- Page Title #3
============================================= -->
<section id="page-title" class="page-title bg-parallax">
    <div class="bg-section">
        <img src="assets/images/page-title/1.jpg" alt="background">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title title-3 text-center">
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

<section id="page-title" class="page-title mt-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--heading">
                            <h1>My Registry</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nihil nemo voluptatibus fugiat similique minus quidem repellendus sunt aperiam in distinctio, quae animi ducimus illo maiores quisquam laboriosam veniam fugit.</p>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<section id="interactive3" class="interactive interactive-2 interactive-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading heading-3 mb-100 text-center">
                    <h2 class="heading--title">Honeymoon Fund</h2>
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="banner-panel">
                    <div class="panel--content">
                        <h5>#temiade19</h5>
                        <h6>We are trying to raise N100,000</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illo quibusdam asperiores ratione temporibus sit, doloribus voluptatum in aspernatur, eligendi hic dignissimos rerum, similique id! A, culpa sequi! Sed, quo.</p>
                    </div>
                    <div class="pt-50">
                        <div class="progress-bg">
                            <div class="progress-bar">
                                <h3 class="raised">N50,000&nbsp;raised </h3>
                            </div>
                                <h3 class="goal">Goal: 1,000,000</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 pt-50 text-center">
                <a href="#" class="btn btn--primary btn--rounded">Donate</a>
            </div>
            <!-- .interactive-panel end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- category
============================================= -->
<section id="category" class="category category-1" style="padding-top: 0px;">
    <div class="container-fluid">
        <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 category-options">
                <div class="category-num pull-left pull-none-xs">
                    <h2><span>135</span>PRODUCTS FOUND</h2>
                </div> 
            </div>
            <!-- .category-options end -->        </div>
        <!-- .row end -->
        <div class="row row-no-padding mb-60">
            <!-- category item #1 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/1.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #2 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/2.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #3 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/3.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Amazing Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #4 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/4.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Black wood Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #5 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/5.jpg" alt="category" />
                        <span class="featured-item featured-item3">ALREADY PURCHASED</span>
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #6 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/6.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #7 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/7.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #8 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/8.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#"> Amazing Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/9.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Black wood Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #10 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/10.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #11 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/11.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #12 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/12.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Black wood Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #13 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/13.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Amazing Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #14 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/14.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Black wood Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->

            <!-- category item #15 -->
            <div class="col-sm-6 col-md-6 col-lg-5ths">
                <div class="category-item">
                    <div class="category--img">
                        <img src="assets/images/categories/cat1/15.jpg" alt="category" />
                    </div>
                    <!-- .category-img end -->
                    <div class="category--content">
                        <div class="category--title">
                            <h3><a href="#">  Great Chair</a></h3>
                        </div>
                        <!-- .category-title end -->
                        <div class="category--price">
                            <span>$ 42.00</span>
                        </div>
                        <!-- .category-price end -->
                        <div class="category--hover">
                            <div class="category--action">
                                <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO CART</a>
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                            </div>
                        </div>
                        <!-- .category-hover end -->
                    </div>
                    <!-- .category-content end -->
                </div>
            </div>
            <!-- .category-item end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#" class="btn--loading">
                    <div class="bullets">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    loading
                </a>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #category end -->

<!-- Footer #2
============================================= -->
<footer id="footerParallax" class="footer footer-1">
    <div class="container pr-40 pl-40">
        <div class="footer-widget">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 text-center-xs widget--links">
                    <div class="widget--content">
                        <ul class="list-unstyled">
                            <li><a href="page-about-1.html">About Us </a></li>
                            <li><a href="page-privacy.html">Privacy Policy</a></li>
                            <li><a href="page-terms.html">Term & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-12 col-lg-4 text-center widget--logo">
                    <div class="widget--content">
                        <div class="widget--logo-img">
                            <img src="assets/images/logo/logo.png" alt="logo">
                        </div>
                    </div>
                    <div class="footer--copyright">
                        <span>&copy;<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> MyWishlistNG - All Rights Reserved</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-12 col-lg-4 text-right text-center-xs text-center-sm widget--social">
                    <div class="widget--content">
                        <div class="social--icons">
                            <span>Follow Us On Social</span>
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="google-plus" href="#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
</footer>

<!-- Footer Scripts
============================================= -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>